/* Global Styles */
  
  * {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
  }

  p {
	line-height: 43px;
	display: inline-block;
	margin: 0;
}

  body {
    color: #333;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ffff;
	font-size: 30px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  }

  li {
	list-style: none;
  }

  input {
	
	padding: 12px 20px;
	margin: 8px 0;
	border: 1px solid #ccc;
	border-radius: 8px;
	font-size: inherit;
	width: 300px;

	} 
  
	/* Navbar */
	.navbar {
	  display: block;
	  text-align: center;
	}
  
	.navbar ul {
	  text-align: center;
	  justify-content: center;
	}
	
	main {
		text-align: center;
		padding: 1em;
		margin: 0 auto;
		width: 100%;
		background-color: rgb(31, 124, 237);
		color: white;
	}
	
	button {
		align-items: center;
		appearance: none;
		background-color: #8383d5;
		border-radius: 4px;
		border-width: 0;
		box-shadow: rgba(45, 35, 66c, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
		box-sizing: border-box;
		color: #36395A;
		cursor: pointer;
		display: inline-flex;
		font-family: "JetBrains Mono",monospace;
		height: 48px;
		justify-content: center;
		line-height: 1;
		list-style: none;
		overflow: hidden;
		padding-left: 16px;
		padding-right: 16px;
		position: relative;
		text-decoration: none;
		transition: box-shadow .15s,transform .15s;
		user-select: none;
		-webkit-user-select: none;
		touch-action: manipulation;
		white-space: nowrap;
		will-change: box-shadow,transform;
		font-size: 18px;
}

.collapsible {
	background-color: rgb(111, 97, 230);
	color: white;
	cursor: pointer;
	padding: 18px;
	width: 50%;
	border: none;
	list-style: none;
	outline: none;
	padding: 30px;
	font-size: 30px;
  }

  .flat {
	background-color: rgb(29, 18, 126);
	color: white;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	border: none;
	outline: none;
	font-size: 15px;
  }
.content {
	background-color: rgb(119, 109, 210);
	padding: 0 18px;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
	display: none;
}



  
