/* Global Styles */
  
  * {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
  }

  body {
    color: #333;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ffff;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  }
  
	/* Navbar */
	.navbar {
	  display: block;
	  text-align: center;
	}
  
	.navbar h1 {
	  margin-bottom: 0.6rem;
	}
  
	.navbar ul {
	  text-align: center;
	  justify-content: center;
	}
  
